<center><h1>Change Layout</h1></center>

<div class="row">
  <ul class="thumbnails">
    <% i = 0 %>
    <% @layouts.each do |layout| %>
      <% i += 1 %>
      <li class="span4">
        <div class="thumbnail select-layout">
          <%= link_to image_tag("/assets/#{layout}.png", :width => "300"), "#{page_url(@page.id)}?layout=#{layout}", :method => 'put' %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

