<h1>New Page</h1>

<div class="row">
  <ul class="thumbnails">
    <% i = 0 %>
    <% @layouts.each do |layout| %>
      <% i += 1 %>
      <li class="span4">
        <div class="thumbnail select-layout">
          <%= link_to image_tag("/assets/#{layout}.png", :width => "300"), "#{pages_url}?book_id=#{@book.id}&layout=#{layout}", :method => 'post' %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

