<% page = @page %>
<%= render :partial => "page_layouts/#{@page.layout}", :locals => { :page => page, :canvas_css_property => 'canvas', :border_choice => 'border', :margin_option => 'small-margin' } %>
<br />
<center><a href="<%= book_url(@page.book.id) %>" class="btn btn-success">Back to the book "<%= @page.book.name %>"</a></center>
