<div class="row-fluid">
  <h2>Books
  <%= link_to image_tag("add-button.png", :class => "add-button"), new_book_url %>
  </h2>
    <ul>
      <% i = 0 %>
      <% current_user.books.each do |book| %>
        <% if i%5 == 0 && i != 0 %>
          </div>
          <br />
          <br />
          <div class="row-fluid">
        <% elsif i == 0 %>
          <div class="row-fluid">
        <% end %>
        <li class="span2 left">
          <%= link_to image_tag("https://graph.facebook.com/#{book.recipient_fb_id}/picture?type=large", :class => 'img-circle contributor-list pull-left'), book %>
          <center><h5> <%= book.name %> </h5></center>
        </li>
        <% i += 1 %>
      <% end %>
    </ul>
</div>


