<% @book.pages.each do |page| %>
  <%= render :partial => "page_layouts/#{page.layout}.html.erb", :locals => { :page => page, :canvas_css_property => 'canvas_print' } %>
  <div class="page-break"></div>
<% end %>
