<div class="row-fluid">
  <div class="span8 offset1">
    <div class="videoembed">
      <div class="player">
        <p><iframe width="560" height="315" src="http://www.youtube.com/embed/K68qdNVwtY4?rel=0" frameborder="0" allowfullscreen></iframe></p>
      </div>
      <div class="intro">
        <p>Create the most meaningful gift you have ever seen. A photobook made by you and your friends, for someone you care about.</p>
        <p><a class="btn btn-primary btn-large" href="<%= new_user_url %>">Get Started with Clipcake</a></p>
      </div>
    </div>
  </div>
</div>

<a href="<%= books_url %>">Sign-in</a><br />
intro video<br />
<a href="<%= new_user_url %>">Get Started</a><br />
learn more<br />
