<%= render :partial => "/page_layouts/positions", :locals => { :page => page } %>

<div class="canvas">
  <div class="vertical-half pull-left">
    <%= render :partial => "/page_layouts/box", :locals => { :page => page, :formnum => 0, :position => @position_0, :styleclass => "half-box soleleft" } %>
  </div>
  <div class="vertical-half pull-left">
    <%= render :partial => "/page_layouts/box", :locals => { :page => page, :formnum => 1, :position => @position_1, :styleclass => "quarter-box upright" } %>
    <%= render :partial => "/page_layouts/box", :locals => { :page => page, :formnum => 2, :position => @position_2, :styleclass => "quarter-box lowright" } %>
  </div>
</div>
